.simple-search{
  .search-result-container{
    .search-result-item{
      padding: 10px 5px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;

      a{
        text-decoration: underline;
      }
    }
  }

  .pagination{
    margin: 20px auto;
     a{
       border: 1px solid #ccc;
       margin: 0 2px;
       padding: 2px 4px;
     }

    .current{
      font-weight: bold;
      background-color: #027a02;
      color: #fff;
      border: 1px solid #027a02;
      padding: 2px 4px;
    }
  }

  .load-more-posts{
    display: none;
    opacity: 0;

    &.active{
      display: block;
      opacity: 1;
      border: 2px solid #000;
      border-radius: 5px;
      margin: 20px auto;
      text-transform: uppercase;

      &:hover{
        cursor: pointer;
      }
    }
  }
}